.button {
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

// .rounded-input {
//     border: 1px solid #ccc;
// 	-moz-border-radius: 10px;
// 	-webkit-border-radius: 10px;
// 	border-radius: 10px;
// 	-moz-box-shadow: 2px 2px 3px #666;
// 	-webkit-box-shadow: 2px 2px 3px #666;
// 	box-shadow: 2px 2px 3px #666;
// 	font-size: 20px;
// 	padding: 4px 7px;
// 	outline: 0;
// 	-webkit-appearance: none;
// }