<ion-header>
    <ion-navbar>
        <ion-title>Seus Cursos</ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-image:url(./assets/imgs/background.png)">
    <ion-list>
        <ion-item *ngFor="let course of courses" class="estilo-azul">
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-row>
                            <h1>{{course.nome}}</h1>
                        </ion-row>
                        <ion-row float-left style="padding-top:60px">
                            <h3>R$ {{course.valor}} reais</h3>
                        </ion-row>
                    </ion-col>
                    <ion-col col-6>
                        <img src={{course.imagem}}>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <h2>Matrículas</h2>
                    <ion-list no-lines>
                        <ion-item ion-item *ngFor="let matricula of course.matricula">
                            {{ matricula.email }}
                        </ion-item> 
                    </ion-list>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-fab right bottom>
        <button (click)="goToCreateCourse()" ion-fab color="light"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>